::ng-deep body {
  font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1{
  font-size: 26px;
  font-weight:bold;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 18px;
  font-weight:bold;
}

h4{
  font-size: 16px;
  font-weight:400;
}

::ng-deep .errorMessage{
  color: rgb(190, 7, 7);
  margin: 0
}
