<app-header></app-header>
<main>
  <div class="firstPart">
    <ng-container *ngIf="userSignal(); else notConnected">
      <div>
        <h2>Commencer à créer votre voyage</h2>
        <input type="text" placeholder="Pays">
      </div>
    </ng-container>
    <ng-template #notConnected>
      <img class="picture" src='/baieHalong.jpg' alt='Baie Halong'/>
      <div class="text">
        <h1>Créez le voyage qui vous ressemble !</h1>
        <p>Envie d’une escapade sur mesure ? <br/><br/><br/>
            Imaginez votre séjour idéal en quelques clics : choisissez votre destination, 
            la durée, le nombre de voyageurs et vos envies (nature, culture, détente, aventure…).<br/><br/><br/><br/>
            Nous nous chargeons du reste pour vous proposer une expérience unique, taillée à votre image. 
            Parce que chaque voyage est une histoire à écrire… <span class="textBold"> et la vôtre commence ici ! </span></p>
      </div>
    </ng-template>
  </div>
  <div class="secondPart">
    <div class="classPart">
      <img src='/friend.jpg' alt="image d'un couple" class="logo"/>
      <p class="decription">🌍 Voyage entre amis 🎒✨<br/>
      Rires, découvertes et moments inoubliables… Un voyage entre amis, c’est l’occasion parfaite de partager des aventures uniques, <br/>
      d’explorer de nouveaux horizons et de créer des souvenirs mémorables. <br/>
      Préparez vos valises et laissez place à l’imprévu !</p>
    </div>
    <div class="classPart">
      <p class="decription">👨‍👩‍👧‍👦 Voyage en famille 🏕️👣<br/>
      Des moments de complicité, des rires d’enfants et des souvenirs gravés à jamais… <br/>
      Voyager en famille, c’est s’émerveiller ensemble, explorer le monde à travers les yeux des plus petits <br/>
      et partager des expériences enrichissantes pour petits et grands.</p>
      <img src='/family.jpg' alt="image d'un couple" class="logo"/>
    </div>
    <div class="classPart">
      <img src='/duo.jpg' alt="image d'un couple" class="logo"/>
      <p class="decription">❤️ Voyage à deux 💑🌅<br/>
      Une escapade romantique, une parenthèse hors du temps… Que ce soit sur une plage paradisiaque, <br/>
      au cœur d’une ville vibrante ou en pleine nature, partez à deux et vivez des instants magiques à votre rythme. <br/>
      Laissez-vous porter par l’émotion et la découverte.</p>
    </div>
  </div>
</main>
