.main{
  height: 100vh;
  width: 100vw;
  display: flex;
}

.firstPart{
  height: 100vh;
  width: 100%;
  background-image: url('/beach.jpg');
  background-size: cover;
  background-position:inherit;
}

.secondPart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.secondPart p{
  text-align: center;
  padding-left: 250px;
  padding-right: 250px;
}