<main>
  <div class="firstPart">
    <app-header></app-header>
  </div>
  <div class="secondPart">
    <ng-container *ngIf="userSignal(); else notConnected">
      <app-journey></app-journey>
    </ng-container>
    <ng-template #notConnected>
      <h2>Créez le voyage qui vous ressemble !</h2>
      <p>Envie d’une escapade sur mesure ? </p>
      <p>Imaginez votre séjour idéal en quelques clics : choisissez votre destination, la durée, 
        le nombre de voyageurs et vos envies (nature, culture, détente, aventure…).</p> 
      <p>Nous nous chargeons du reste pour vous proposer une expérience unique, taillée à votre image. 
        Parce que chaque voyage est une histoire à écrire… et la vôtre commence maintenant !</p>
    </ng-template>
  </div>
</main>
